@import '../../scss/variables';

.sidebar {
    flex: 1;
    min-height: calc(100vh - 84px);
    background-color: $primary;
    position: sticky;
    top: 84px;
    padding: 15px 30px;

    h2 {
        margin-bottom: 1rem;
    }

    .sidebar-menu {
        margin-bottom: 1.5rem;
    
        ul {
            list-style: none;

            li {
                margin: 6px 0;
                border-radius: 10px;
                padding: 0 4px;

                &:hover, &.active {
                    background-color: rgb(232 125 125 / 70%);;
                 }

                a {
                    color: #fff;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    padding: 10px 0;

                    span {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}