* {
    font-family:  'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
}

.page-content {
    flex: 5;
}